@charset "utf-8";

html
body

dt{
	background-color: #CCF;
	width: 320px;
	height:10px;
	margin: 0px;
	padding:20px;
	
}

dd{
	background-color: #9C6;
	width: 320px;
	height:10px;
	margin: 0px;
	padding:20px;
	
}






