@charset "utf-8";
/* CSS Document */

nav ul li{
	margin: 2px;
	padding: 0;
	list-style-type: none;
	width: 100px;
	height:30px;
	background-color:#9C3;
	
}

nav li {
	display:inline-block;
	text-align: center;
}

